// Google Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: SainsFont;
    src: url(../fonts/GLOWWORM.TTF);
}

// Variabel 
$bg-color: #F6F4F2;
$bg-color-darker: #eae9e8;
$yllow: #FEF102;
$dffyllow: #F2941B;
$brd: #EE1826;
$grnn: #00A652;
$ornge: #F05829;
$bleu: #23AAE2;
$pnk: #ED028D;
$bold: #0000;

// RESPONSIVE DESIGN
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Font 
$font-family: "Poppins", sans-serif;

// START 
body {
    font-family: $font-family;
    font-weight: 400;
    line-height: 28px;
    color: $bg-color;
    background-color: $bg-color;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

// NAVBAR 
.custom-navbar {
    background-color: darken($bg-color, 2%) !important;

    .navbar-brand {
        position: relative;
        padding: 0;
        margin: 0;
        top: 2px;

        img {
            width: 75px;

        }
    }

    .custom-navbar-nav {
        li {
            margin-right: 17px;

            a {
                font-weight: 600;
                font-size: 17px;
                color: black;
                opacity: .5;
                position: relative;
                transition: .3s all ease;

                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 8px;
                    right: 8px;
                    background: $yllow;
                    height: 5px;
                    visibility: visible;
                    width: 0;
                    transition: .9s all ease-out;
                }

                &:hover {
                    opacity: 1;

                    &:before {
                        width: calc(100% - 16px);
                    }
                }

            }

        }
    }
}

// END NAVBAR 

// HERO 
.hero {
    content: '';
    position: absolute;
    background-image: url('../assets/hero.png');
    width: 100vw;
    height: 90%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;


    .container {
        .title {
            justify-content: center;
            text-align: center;
            align-items: center;
            margin-right: 2rem;


            h2 {
                margin-top: 8rem;
                font-size: 1.5rem;
                font-weight: 400 !important;
                margin-left: 40px;

                @media (max-width: $md) {
                    font-size: 1.3rem;
                }

                strong {
                    -webkit-text-stroke: 1px $ornge;
                    font-size: 2rem;

                    @media (max-width: $md) {
                        font-size: 1.5rem;
                    }

                }
            }

            h1 {
                margin-top: -1rem;
                margin-bottom: -1rem;

                font-family: SainsFont;
                font-size: 7rem;
                -webkit-text-stroke: 1px #ffff;
                color: white;
                text-shadow:
                    1px 1px 0 #ffff,
                    -1px -1px 0 #ffff,
                    1px -1px 0 #ffff,
                    -1px 1px 0 #ffff;
                letter-spacing: -20px;
                -webkit-filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, .8));
                filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, .8));

                //RED, GREEN, ORANGE, BLUE, PINK,YELLOW, PINK 

                @media (max-width: $md) {
                    font-size: 6rem;
                }

            }

            p {
                font-size: 1.3rem;


                @media (max-width: $md) {
                    font-size: 1rem;
                }

            }
        }
    }

    &:after {
        content: '';
        position: absolute;
        background-image: url('../assets/bubblegreen.svg');
        width: 220px;
        height: 200px;
        background-size: contain;
        background-repeat: no-repeat;
        animation: floatImage 4s ease-in-out infinite;
        right: 110px;
        top: 13.5rem;


        @media (max-width: $md) {
            width: 150px;
            top: 20.9rem;
            right: 30px;
        }
        @media (max-width: $xl) {
            width: 170px;
            top: 14rem;
            right: 50px;
        }


    }

    &:before {
        content: '';
        position: absolute;
        background-image: url('../assets/bubbleorange.svg');
        width: 220px;
        height: 200px;
        background-size: contain;
        background-repeat: no-repeat;
        animation: floatImage2 4s ease-in-out infinite;
        left: 85px;
        top: 8rem;

        @media (max-width: $md) {
            width: 150px;
            top: 3.9rem;
            left: 24px;
        }

         @media (max-width: $xl) {
            width: 160px;
            top: 7rem;
            left: 40px;
        }

    }


    @keyframes floatImage {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-1.9rem);
        }

        100% {
            transform: translateY(0);
        }
    }

    @keyframes floatImage2 {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(1.9rem);
        }

        100% {
            transform: translateY(0);
        }
    }



}

//BTN
.btn {
    font-weight: 600;
    padding: 12px 30px;
    border-radius: 30px;
    color: black;
    background: $yllow;
    border-radius: $yllow;
    transition: .5s ease-in-out;

    &:hover {
        color: #fff;
        background: $dffyllow;
        border-radius: $dffyllow
    }
}

// TEXT COLOR

.text-red {
    color: $brd;
}

.text-orange {
    color: $ornge;

}

.text-green {
    color: $grnn
}

.text-blue {
    color: $bleu;
}

.text-pink {
    color: $pnk;
}

.text-yellow {
    color: $dffyllow;
    margin-left: 15px;
}


// VISI MISI
.visi-misi {
    padding-top: 38rem;
    background: url(../assets/goals.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 2rem;
    place-items: center;
    min-height: 100%;


    .section-title {
        font-weight: 700;
        color: black;
        // margin: 20px 10rem 30px 10rem;
        text-align: center !important;
        justify-content: center;
        align-items: center;
        font-size: 80px;
        -webkit-text-stroke: 3px white;

        span {
            font-family: SainsFont;
            color: $dffyllow;
            font-size: 90px;
            font-weight: 500;
            -webkit-text-stroke: 2px white;

        }
    }

    .header-img {
        img {
            width: 25rem;
        }

    }

    .custom-container {
        box-sizing: border-box;
        // display: grid;
        width: 48rem;
        height: 20rem;
        display: flex;
        justify-content: center;
        position: relative;

        @media (max-width: $md) {
            padding: 0 6rem 0 6rem;
        }



        .single {
            padding: 0 4rem;
            display: grid;
            place-content: center;
            width: 17rem;
            position: relative;
            overflow: hidden;
            transition: 500ms ease-in-out width;

            &:before {
                content: '';
                position: absolute;
                inset: 0;
                transition: 500ms ease-in-out;
            }


            &:nth-child(1) {
                background-color: $brd;
                border-top-left-radius: 2rem;
                border-bottom-left-radius: 2rem;
            }

            &:nth-child(2) {
                background-color: $grnn;
            }

            &:nth-child(3) {
                background-color: $pnk;
                border-top-right-radius: 2rem;
                border-bottom-right-radius: 2rem;
            }

            &:hover {
                width: 60rem;

                .content {
                    transform: rotate(0);



                    p {
                        height: 100%;

                    }
                }
            }

            .content {
                transform: rotate(-90deg);
                transition: 200ms ease-in-out transform;


                p {
                    color: #ffff;
                    padding: 0;
                    border: none;
                    height: 0;
                    overflow: hidden !important;
                    transition: 500ms ease-in-out height,
                        500ms ease-in-out padding;
                    font-size: 16px;
                    margin-bottom: 2rem;
                }

                h2 {
                    text-align: center;
                    color: white;
                    text-shadow: 0 0 .3rem rgba(0, 0, 0, .1);
                    margin-bottom: 1rem;
                    margin-top: 2rem;
                    font-weight: 700;
                    margin-right: 16rem;
                    padding-left: 7.5rem;
                    transform: scale(2);
                    transition: 500ms ease-in-out transform;
                }
            }

        }
    }

    .box {
        background-color: white;
        border-radius: 2rem;
        margin: 10px 1.5rem 3rem 1.5rem;
        padding: 1.5rem;
        align-items: center;

        h2 {
            color: black;
            font-weight: 700;
            font-size: 35px;
            text-align: center;
            margin-bottom: 3px;
        }

        p {
            color: black;
            font-size: 15px;
            text-align: center;
            margin: 0 1rem .25rem 1rem;
        }
    }
}

// POJOK SAINS 
.pojok-sains {
    padding-top: 8rem;
    padding-bottom: 5rem !important;

    .section-title {
        h2 {
            color: black;
            font-weight: 700;
            font-size: 50px;
            text-align: center;
            margin-bottom: -10px;

            span {
                font-family: SainsFont;
                letter-spacing: -15px;
                font-size: 65px;
                font-weight: 400;



            }

            .text-yellow {
                margin-left: -.15rem;
            }
        }

    }

    .center {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .slider {
            width: 100%;
            height: fit-content;
            padding: 70px 0;
            overflow: auto;

            &::-webkit-scrollbar {
                width: 100%;
                height: 5px;
            }

            &::-webkit-scrollbar-thumb {
                background: $pnk;
                border-radius: 10px;
            }

            &::-webkit-scrollbar-track {
                background: white;
            }

            .cards {
                width: fit-content;
                display: flex;
                align-items: center;
                justify-content: center;


                .card {
                    width: 300px;
                    height: 300px;
                    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.14);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    position: relative;
                    margin: 0 20px;

                    &:nth-child(1) {
                        background-image: url(../assets/kegiatan/image.png);
                    }

                    &:nth-child(2) {
                        background-image: url(../assets/kegiatan/image2.png);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    &:nth-child(3) {
                        background-image: url(../assets/kegiatan/image3.png);
                        background-repeat: no-repeat;
                        background-position: right;
                    }

                    &:nth-child(4) {
                        background-image: url(../assets/kegiatan/image4.png);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    &:nth-child(5) {
                        background-image: url(../assets/kegiatan/image5.png);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    &:nth-child(6) {
                        background-image: url(../assets/kegiatan/image6.png);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    &:nth-child(7) {
                        background-image: url(../assets/kegiatan/image7.png);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    &:nth-child(8) {
                        background-image: url(../assets/kegiatan/image8.png);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    &:nth-child(9) {
                        background-image: url(../assets/kegiatan/image9.png);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    &:nth-child(10) {
                        background-image: url(../assets/kegiatan/image10.png);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    .title {
                        font-size: 40px;
                        font-weight: 600;
                    }

                    .subtitle {
                        font-size: 14px;
                    }

                }
            }
        }
    }



}


// SEKOLAH 
.sekolah {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: $bg-color-darker;

    .title {
        h1 {
            color: black;
            font-weight: 600;
            font-size: 50px;
            text-align: center;
        }

        p {
            color: black;
            font-size: 16px;
        }
    }

    display: grid;
    place-items: center;

    .slider {
        width: 100%;
        height: fit-content;
        overflow: hidden;

        .logos {
            width: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            animation: slide 40s linear infinite;

            img {
                width: 110px;
                margin: 0 25px;

                @media (max-width: $md) {
                    width: 70px;
                    margin: 0 20px;
                }

                @media (max-width: $sm) {
                    width: 55px;
                    margin: 0 15px;
                }
            }

            @keyframes slide {
                from {
                    transform: translateX(0%);
                }

                to {
                    transform: translateX(-100%);
                }
            }
        }

    }
}

// TESTIMONIAL 
.Testimonial {
    padding-top: 4rem;
    padding-bottom: 4rem;

    .title {

        h2 {
            color: $brd;
            font-weight: 500;
            font-size: 65px;
            text-align: center;
            letter-spacing: 1px;
            font-family: SainsFont;
        }
    }

    .center {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .carousel {
            width: 90%;
            height: fit-content;
            background: $bg-color;
            border-radius: 2mm;
            box-sizing: border-box;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            flex-direction: column;
            font-weight: 600;

            .title {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 0 20px;
                font-size: 26px;
                margin-bottom: 25px;
            }

            .navigation {
                position: absolute;
                top: 0;
                left: -20px;
                height: 100%;
                width: fit-content;
                display: flex;
                align-items: center;
                justify-content: center;

                &:nth-child(4) {
                    left: calc(100% - 20px);
                }

                button {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background: rgb(77, 77, 77);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    outline: none;
                    border: none;
                    transition: .3s all ease-in-out;

                    span {
                        font-size: 20px;
                        justify-content: center;
                        text-align: center;
                        color: white;
                    }

                    &:hover {
                        background: $ornge;
                    }
                }
            }

            .slide-lock {
                width: 900px;
                max-width: 100%;
                overflow: hidden;
                min-width: 300px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                box-sizing: border-box;
                padding: 15px;
                scroll-behavior: smooth;

                .slides {
                    height: fit-content;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 15px;

                    .slide {
                        width: 250px;
                        height: 250px;
                        border: 0.5mm solid rgb(228, 228, 228);
                        box-shadow: 10px 10px 0 rgb(228, 228, 228);
                        border-radius: 1mm;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        box-sizing: border-box;
                        padding: 5px;
                        transition: 0.25s all ease-in-out;
                        margin: 5px 25px;


                        &:nth-child(1) {
                            background: url(../assets/Testimoni/testimoni6.png);
                            background-position: center;
                            background-size: cover;
                            background-repeat: no-repeat;

                            &:hover {
                                border: 0.5mm solid $pnk;
                                box-shadow: 12px 12px 0 $pnk;
                            }
                        }

                        &:nth-child(2) {
                            background: url(../assets/Testimoni/testimoni1.png);
                            background-position: center;
                            background-size: cover;
                            background-repeat: no-repeat;

                            &:hover {
                                border: 0.5mm solid $grnn;
                                box-shadow: 12px 12px 0 $grnn
                            }
                        }

                        &:nth-child(3) {
                            background: url(../assets/Testimoni/testimoni2.png);
                            background-position: center;
                            background-size: cover;
                            background-repeat: no-repeat;

                            &:hover {
                                border: 0.5mm solid $brd;
                                box-shadow: 12px 12px 0 $brd;
                            }
                        }

                        &:nth-child(4) {
                            background: url(../assets/Testimoni/testimoni3.png);
                            background-position: center;
                            background-size: cover;
                            background-repeat: no-repeat;

                            &:hover {
                                border: 0.5mm solid $bleu;
                                box-shadow: 12px 12px 0 $bleu;
                            }
                        }

                        &:nth-child(5) {
                            background: url(../assets/Testimoni/testimoni4.png);
                            background-position: center;
                            background-size: cover;
                            background-repeat: no-repeat;

                            &:hover {
                                border: 0.5mm solid $yllow;
                                box-shadow: 12px 12px 0 $yllow;
                            }
                        }

                        &:nth-child(6) {
                            background: url(../assets/Testimoni/testimoni6.png);
                            background-position: center;
                            background-size: cover;
                            background-repeat: no-repeat;

                            &:hover {
                                border: 0.5mm solid $ornge;
                                box-shadow: 12px 12px 0 $ornge;
                            }

                        }

                        &:nth-child(7) {
                            background: url(../assets/Testimoni/testimoni7.png);
                            background-position: center;
                            background-size: cover;
                            background-repeat: no-repeat;

                            &:hover {
                                border: 0.5mm solid $ornge;
                                box-shadow: 12px 12px 0 $dffyllow;
                            }

                        }


                    }
                }
            }
        }

    }

}

// KONTAK 
.Kontak {

    content: '';
    position: absolute;
    background-image: url('../assets/kontakbgs.png');
    width: 100vw;
    height: 45rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .title {
        h2 {
            color: white;
            font-weight: 700;
            font-size: 50px;
            text-align: center;
            margin-top: 4rem;
            -webkit-text-stroke: 1px black;
            text-shadow:
                1px 1px 0 #0000,
                -1px -1px 0 #0000,
                1px -1px 0 #0000,
                -1px 1px 0 #0000;
            -webkit-filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, .8));
            filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, .8));

        }
    }



    .custom-form {
        margin: 2rem 8rem 5rem 8rem;
        background-color: $bg-color-darker;
        border-radius: 30px;


        @media (max-width: $md) {
            margin: 1.5rem 3rem 1.5rem 3rem;

        }


        .top-form {
            margin-top: 2rem;

            
                @media (max-width: $md) {
                    margin-top: 1rem;

                }
        }

        .custom-input {
            padding: 0 25px 0 25px;


            .form-label {
                color: black;
                font-weight: 500;
                font-size: 15px;
            }

            .form-control {
                &:focus {
                    outline: none;
                    box-shadow: 0 1px 4px 0 rgba($yllow, .2);
                    border-color: $yllow;
                }
            }


        }



        .button-form {
            padding: 0 20px 20px 20px;
        }
    }
}

// FOOTER 

.footer-section {
    padding-top: 50rem;
    padding-bottom: 2rem;
    background: white;
    color: black;


    a {
        text-decoration: none;
        color: black;
        transition: .3s all ease;

        &:hover {
            color: rgba(black, .5);
        }
    }

    .btn {
        border-radius: 10px !important;
    }


    .links-wrap {

        ul {
            li {
                margin-bottom: 10px;

                .list-title {
                    font-size: 18px;
                    font-weight: 600;
                }
            }
        }
    }

    .footer-logo-wrap {
        .footer-logo {
            img {
                width: 95px;
                height: 95px;
            }

        }
    }

    .custom-social {
        li {
            display: inline-block;
            margin: 2px;

            a {
                height: 50px;
                width: 50px;
                background: black;
                text-align: center;
                line-height: 50px;
                display: inline-block;
                border-radius: 50%;
                color: $yllow;
                transition: .5s all ease;

                &:hover {
                    background: $yllow;
                    color: white;
                }
            }
        }
    }

}